html {
    min-width: 10rem;
    min-height: 5rem;
    background: rgb(30 41 59);
}

body {
    font-family: 'Nanum Myeongjo', serif;
}

label {
    display: flex;
    align-items: center;
    gap: .25rem;
    color: rgb(248 250 252);
    background: rgb(100 116 139);
    border: 1px solid rgb(100 116 139);
    border-radius: .25rem;
    padding: .25rem;
    user-select: none;
}

.vbox {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
